<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">
  <!-- proves -->
  
  <div>
    <%- include('./partials/header.ejs') %>
  </div>
  <!-- fi proves -->

<!-- Header -->
<header class="w3-display-container w3-content" style="max-width:1500px;">
  <img class="w3-image" src="/img/Paris.jpg" alt="The Hotel" style="min-width:1000px" width="1500" height="800">
  <div class="w3-display-left w3-padding w3-col l6 m8">
    <div class="w3-container w3-gray">
      <h2><i class="fa fa-bed w3-margin-right"></i>Descubre todos nuestros <br> fantásticos apartamentos !! </h2>
    </div>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1532px;">

  <div class="w3-container w3-margin-top" id="rooms">
    <h3>Aqui puedes ver todos nuestros partamentos</h3>
    <p>Siéntete como en tu propia casa. Ofrecemos las mejores camas de la industria. Duerme bien y descansa mejor.</p>
  </div>
  
 
<!-- Mostrar todos los apartamentos -->
<div class="w3-row-padding w3-padding-16">
  <% apartments.forEach(function(apartment) { %>
  <div class="w3-third w3-margin-bottom">
    <img src="<%= apartment.mainPhoto %>" alt="Norway" style="width:380px;height:270px">
    <div class="w3-container w3-white">
      <h3><%= apartment.title %></h3>
      <h6 class="w3-opacity">Desde <%= apartment.price %> €</h6>
      <p>Tamaño del apartamento: <%= apartment.size %> m<sup>2</sup></p>
      <p class="w3-large">
      <i class='fa fa-home'></i> <!-- Se muestra por defecto;todos son apartamentos -->
      <% if (apartment.AC){ %> <i class='far fa-snowflake'></i><% } %>  <!--  Aire condicionat --> 
      <% if (apartment.heating){ %> <i class="fa fa-fw fa-thermometer"><% } %></i><!--   calefacció -->
      <% if (apartment.wheelchair){ %>  <i class="fa fa-wheelchair"></i><% } %><!-- mobilitat reduïda -->
      <% if (apartment.tv){ %> <i class="fa fa-tv"></i><% } %> <!-- Televisió -->
      <% if (apartment.kitchen){ %> <i class="fa fa-cutlery"></i><% } %><!--  Cuina -->
      <% if (apartment.wifi){ %> <i class="fa fa-wifi"></i><% } %> <!-- Connexió a Internet --> 
      </p>


      <!-- Enlace a cada apartamento renderizamos "apartment.ejs" .
        Segun su _Id(en routes las recuperamos y tratamos) y segun sea usuario o administrador. Podemos ver _id (en la barra del navegador se refleja la _id del documento), Mongo DB la asigna automaticamente)-->
        <% if (admin){ %> 
          <a href="/admin/apartment/<%= apartment._id %>"><button class="w3-button w3-block w3-black w3-margin-bottom">Administrar</button></a>
          <% }else{ %> 
          <a href="/apartment/<%= apartment._id %>"><button class="w3-button w3-block w3-black w3-margin-bottom">Detalles</button></a>
          <% } %>  
    </div>
  </div>
   <% }); %>
</div>
  
  <div class="w3-row-padding" id="about">
    <div class="w3-col l4 12">
      <h3>About</h3>
      <h6><strong>Monasterio de Montserrat a Manresa:</strong> 
        La salida desde el Monasterio de Montserrat es realmente espléndida, no sólo por lo que representa su ubicación en el corazón del Parque Natural del mismo nombre, sino porque nos proporciona una cota alta de salida, así que el camino que deriva, es puramente de descenso. Aunque el paisaje está bastante seco y a ratos demasiado urbanizado, la llegada a Manresa andando, es bellísima, y conecta dos topónimos básicos de estas tierras. También tenemos la posibilidad de continuar el camino y sumarlo a la etapa de Navarcles, cosa que le suma esfuerzo y mérito al mismo tiempo.
      </h6>
    <p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
    </div>
    <div class="w3-col l8 12">
      <!-- Image of location/map -->
      <img src="/img/Montserrat.jpeg" class="w3-image w3-greyscale" style="width:100%;">
    </div>
  </div>
  
  <div class="w3-row-padding w3-large w3-center" style="margin:32px 0">
    <div class="w3-third"><i class="fa fa-map-marker w3-text-red"></i> Somewhere Manresa, SP</div>
    <div class="w3-third"><i class="fa fa-phone w3-text-red"></i> Phone: +34 678841538</div>
    <div class="w3-third"><i class="fa fa-envelope w3-text-red"></i> Email: jose.a.cast@mail.com</div>
  </div>

  <div class="w3-panel w3-red w3-leftbar w3-padding-32">
    <h6><i class="fa fa-info w3-deep-orange w3-padding w3-margin-right"></i> Bajo demanda, podemos ofrecerles playstation, babycall, children care, dog equipment, etc.</h6>
  </div>


  <div class="w3-container w3-padding-32 w3-black w3-opacity w3-card w3-hover-opacity-off" style="margin:32px 0;">
    <h2>Get the best offers first!</h2>
    <p>Join our newsletter.</p>
    <label>E-mail</label>
    <input class="w3-input w3-border" type="text" placeholder="Your Email address">
    <button type="button" class="w3-button w3-red w3-margin-top">Subscribe</button>
  </div>

  <div class="w3-container" id="contact">
    <h2>Contact</h2>
    <p>If you have any questions, do not hesitate to ask them.</p>
    <i class="fa fa-map-marker w3-text-red" style="width:30px"></i> Manresa, SP<br>
    <i class="fa fa-phone w3-text-red" style="width:30px"></i> Phone: +678841538<br>
    <i class="fa fa-envelope w3-text-red" style="width:30px"> </i> Email: jose.a.cast@mail.com<br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
  <h5>Find Us On</h5>
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<!-- Add Google Maps -->
<script>
function myMap() {
  myCenter=new google.maps.LatLng(41.878114, -87.629798);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

</body>
</html>
